<%= link_to "back home", hello_index_path, class: 'btn btn-info' %>
<section class="wrapper-a">
    <div class="link-container">
    <div class="container-a">
        <div class="content-a">
            <h2 class="heading-a">How to use vase</h2>
            <div class="list-a">
                <div class="list-item-a">This page describes how to use the vase. If you are new to this site, please refer to this page and create an account first.</div>
                
            </div>
            
        </div>
    </div>
    </div>
</section>
<div class="how-menu-container">
<%= link_to "Top page", hello_link_en_path , :controller => "hello", :action => "link_en" ,class: 'btn btn-outline-danger' %>
<%= link_to "New registration method", hello_log_en_path , :controller => "hello", :action => "log_en" ,class: 'btn btn-outline-danger' %>
<%= link_to "View and do posts", hello_post_en_path , :controller => "hello", :action => "post_en" ,class: 'btn btn-outline-danger' %>
<%= link_to "My page", hello_my_en_path , :controller => "hello", :action => "my_en" ,class: 'btn btn-outline-danger' %>
</div>
<div class="box27">
    <span class="box-title">View and do posts</span>
        Posts can be viewed on the top page or on the home screen after logging in. (Details of the work cannot be seen from the top page.)
    <div class="how-to-container">
        <div class="how-img-box">
            <%= image_tag('top-page.PNG', :size => '400x250') %>
        </div>
        <div class="how-script-box">
        You can use any function from the home screen after logging in.
            <br>
            ・Search form: You can search for relevant works by entering a free word.
            <br>
            ・Post button: You can move to the new posting form.
            <br>
            ・Season icon: You can see a list of works for each season.
        </div>
    </div>
    <div class="how-to-container">
        <div class="how-img-box">
            <%= image_tag('new-post.PNG', :size => '400x250') %>
        </div>
        <div class="how-script-box">
        Enter your work information on the post form screen to maximize your work.
            <br>
            ・Title: Let's think of a title that matches the image of the work that attracts the viewer.
            <br>
            ・Image: A photo of the most important work! Let's take a beautiful background with a simple background.
            <br>
            ・Flower material: Let's write what flower was used.
            <br>
            ・Tag: Please select which season's flower you used.
            <br>
            ・Introduction sentence: There is no particular rule, but let's write about how you lived and the appeal points of the work.
            <br>
            Finally, click the "Post" button and you're done!
        </div>
    </div>
</div>
