
<section class="wrapper">
  <div class="season-top-container">
  <div class="container">
    <div class="content">
        <h2 class="heading">
          <% if @number == 1 %>
            春/Spring
          <% end %>
          <% if @number == 2 %>
            夏/Summer
          <% end %>
          <% if @number == 3 %>
            秋/Autumn
          <% end %>
          <% if @number == 4 %>
            冬/Winter
          <% end %>
        </h2>
        <div class="list">
          <div class="list-b">
            <div class="list-item">
            <% if @number == 1 %>
            冬と夏の間で、日本では3・4・5月をいう。暦の上では立春から立夏の前日まで（陰暦の正月から3月まで）をいい、天文学では春分から夏至まで。しだいに昼が長く、夜が短くなり、草木の芽がもえ出る。春の代表的なお花には、菜の花、ネモフィラ、桜、撫子などがある。万葉集の中では歌材としては、早蕨(さわらび)、呼子鳥(よぶこどり)、梅、春山、春菜、菫(すみれ)、山桜、春雪、馬酔木(あしび)、桜、鶯(うぐいす)、山吹、霞(かすみ)、春雨(はるさめ)、陽炎(かげろう)、浅茅(あさぢ)、春野、卯(う)の花、藤(ふじ)、葛(くず)、なのりそ（ホンダワラか）などが詠まれている。
            <% end %>
            <% if @number == 2 %>
            『古今集』「夏」には、ほととぎす、花橘、卯の花、常夏(とこなつ)（なでしこ）などが受け継がれ、蓮（はちす）、短か夜(みじかよ)、六月つごもりなどが加わっている。『論春秋歌合(うたあわせ)』には「恋するにわびしきことをくらぶるに夏と冬とはいづれまされり」という問いかけによって、恋の苦しさの夏冬の比較を和歌で詠み合う言語遊戯がみられる。
            <% end %>
            <% if @number == 3 %>
            夏と冬の間で、日本では9・10・11月をいう。暑さの厳しい夏を過ごして、さわやかな秋になると人々の活力も回復し種々な面での活動も盛んになる。それを表現して「芸術の秋」「読書の秋」「食欲の秋」「実（稔）りの秋」「スポーツの秋」などといわれる。和歌などで、「飽き」にかけて用いる。 「わが袖にまだき時雨の降りぬるは君が心に－や来ぬらむ／古今 恋五」 
            <% end %>
            <% if @number == 4 %>
            秋と春の間で、日本では12月から2月までをいう。冬になると山の動物は冬ごもりし、大地からは緑が消えます。新しい生命の始まりとなる春までの充電期間となる季節です。雪の花、風花(かざはな)、牡丹(ぼたん)雪、細(ささめ)雪、雪明り、雪月夜といった陰影に富んだ季語が数多く生み出されている。
            <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</section>


<%= link_to "ホームに戻る", tweets_path, class: 'btn btn-info' %>
<div class="season-tweet-container">
  
  <% @tweets.each do |t| %>
    <div class="tweet">
        
            <div class="tweet-user-name-box">
            <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
            </div>
            <div class="tweet-image-box">
              <% if t.image.present? %>
              <%= link_to tweet_path(t.id) do %>
                <%= image_tag t.image_url, size: '400x300'  %>
              <% end %>
              <% else %>
              <%= link_to tweet_path(t.id) do %>
                <img src="/images/default.jpg" width="400px" height="300px">
              <% end %>
              <% end %> 
              <figcaption>
              <div class="tweet-title-box">
              <% if t.title.present? %>
              <%= t.title %>
              <% else %>
              <a>タイトルなし</a>
              <% end %>
              </div>
              <div class="tweet-info-item">
              ✿<%= t.liked_users.count %>
              <%= link_to "詳細へ", tweet_path(t.id) ,class: 'btn btn-outline-danger'%>
              
            </div>
            </figcaption>

              
              
            </div>
            
            
        </div>
  <% end %>
  
</div>

<div class="season-container">
  <div class="spring-box">
    <%= link_to image_tag('spring1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 1), method: :get %>
    <div class="spring-title">Spring</div>
    </div>
  <div class="summer-box">
    <%= link_to image_tag('summer1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 2), method: :get %>
    <div class="spring-title">Summer</div>
    </div>
  <div class="autumn-box">
    <%= link_to image_tag('autumn1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 3), method: :get  %>
    <div class="spring-title">Autumn</div>
    </div>
  <div class="winter-box">
  <%= link_to image_tag('winter1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 4), method: :get  %>
  <div class="spring-title">Winter</div>
  </div>
</div>