<section class="home">
    <div class="home-container">
    
      <div class="text-focus-in">Vase</div>
      <div class="search-box">
        <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
          <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control" %>
          <span class="input-group-btn">
              <%= button_tag "検索", :name => nil, class: "btn btn-info" %>
          </span>
          </div>
        <% end %>
      </div>
      <div class="menu-container">
          <div class="menu-button-box">
            <div class="about-box">
              <%= link_to "About more", hello_link_path , :controller => "hello", :action => "link" ,class: 'btn btn-outline-danger' %>
            
            </div>
            <div class="article-box">
              <%= link_to "Article", hello_show_path , :controller => "hello", :action => "show" ,class: 'btn btn-outline-danger' %>
          
            </div>
          
            <div class="new-post-box">
              <%= link_to "Post", new_tweet_path , :controller => "hello", :action => "show" ,class: 'btn btn-outline-danger' %>
            
              </div>
            <div class="mypage-box">
              <%= link_to "My page", user_path(current_user.id) , :controller => "hello", :action => "show" ,class: 'btn btn-outline-danger' %>
            
              </div>
              <div class="mypage-box">
              <%= link_to "Log out", destroy_user_session_path, method: :delete ,class: 'btn btn-outline-danger' %>
            
              </div>
          </div>
          <div class="season-menu-container">
            <div class="spring-box">
              <%= link_to image_tag('spring1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 1), method: :get %>
              <div class="spring-title">Spring</div>
            </div>
            <div class="summer-box">
              <%= link_to image_tag('summer1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 2), method: :get %>
              <div class="spring-title">Summer</div>
            </div>
            <div class="autumn-box">
              <%= link_to image_tag('autumn1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 3), method: :get  %>
              <div class="spring-title">Autumn</div>
            </div>
            <div class="winter-box">
              <%= link_to image_tag('winter1.jpg', :size => '120x100'), hello_spring_path(:tag_id => 4), method: :get  %>
              <div class="spring-title">Winter</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

  


<div class="scroll-bg-content">
 
  <div class="scroll-bg bg-color04">
          
    <div id="page-box">
      <%= page_entries_info @tweets %>
    </div>
  
      <% @tweets.each do |t| %>
  
        <div class="tweet">
            <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
            <br>
            <div class="tweet-image-box">
              <% if t.image.present? %>
              <%= link_to tweet_path(t.id) do %>
                <%= image_tag t.image_url, size: '300x200'  %>
              <% end %>
              <% else %>
              <%= link_to tweet_path(t.id) do %>
                <img src="/images/default.jpg" width="200px" height="200px">
              <% end %>
              <% end %> 
            </div>
            <div class="tweet-title-box">
              <% if t.title.present? %>
              <%= t.title %>
              <% else %>
              <a>タイトルなし</a>
              <% end %>
            </div>
            <div class="tweet-info-item">
              ✿<%= t.liked_users.count %>
              <%= link_to "詳細へ", tweet_path(t.id) ,class: 'btn btn-info'%>
              <% if t.user.id == current_user.id %>
              <%= link_to "編集", edit_tweet_path(t.id) , class: 'btn btn-info' %>
              <%= button_to "削除", tweet_path(t.id), method: :delete , class: 'btn btn-info' %>
              <% end %>
            </div>
        </div>
      <% end %>
  </div>
</div>
<div id="page-box">
<%= paginate @tweets %>
</div>



<%= javascript_pack_tag 'tweets/index' %>






