<div class="my-container">
<div class="page-title-box">
    <h2> User Page
    </h2>
    
  </div>
  <div class="me-box">
  
  <div class="image-box">
      <% if @user.image.present? %>
      <%= image_tag @user.image_url, size: '200x200'  %>
    <% else %>
      <img src="/images/default.jpg" width="200px" height="200px">
    <% end %> 
  </div>
  <div class="name-box">
  <p><%= @user.name %></p>
  </div>
  <div class="edit-box">
    <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path ,class: 'btn btn-info'%>
    <% end %>
  </div>
  
  </div>
  <hr class="cp_hr07" />
  <div class="profile-box">
    <h2>Profile<h2>
    <br>
    <a> <%= @user.profile %></a>
  </div>
  <hr class="cp_hr07" />
  <div class="post-title-container">
  <h2>Post</h2>
  </div>
  <div class="user-post-box">
    <div id="page-box">
      <%= page_entries_info @tweets %>
    </div>
    <% @user.tweets.each do |t| %>
      <div class="tweet">
            <div class="tweet-user-name-box">
            <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
            </div>
            <div class="tweet-image-box">
              <% if t.image.present? %>
              <%= link_to tweet_path(t.id) do %>
                <%= image_tag t.image_url, size: '300x200'  %>
              <% end %>
              <% else %>
              <%= link_to tweet_path(t.id) do %>
                <img src="/images/default.jpg" width="200px" height="200px">
              <% end %>
              <% end %> 
              <figcaption>
                <div class="tweet-title-box">
                  <% if t.title.present? %>
                    <%= t.title %>
                    <% else %>
                    <a>タイトルなし</a>
                  <% end %>
                </div>
                <div class="tweet-info-item">
                  ✿<%= t.liked_users.count %>
                    <%= link_to "詳細へ", tweet_path(t.id) ,class: 'btn btn-outline-danger'%>
                    <% if t.user.id == current_user.id %>
                      <%= link_to "編集", edit_tweet_path(t.id) , class: 'btn btn-outline-danger' %>
                      <%= button_to "削除", tweet_path(t.id), method: :delete , class: 'btn btn-outline-danger' %>
                    <% end %>
                </div>
              </figcaption>
            </div>
      </div>
  
    <% end %>
  </div>
  <div id="page-box">
    <%= paginate @tweets %>
  </div>
  <%= link_to "ホームに戻る", tweets_path, class: 'btn btn-info' %>
</div>